* {
  font-family: System-Bold;
}

.background {
  viewport-fill: #000000;
}

/* Sections */
#top {
  width: 100%;
  height: 34%;
  x: 0;
  y: 0;
}

#top-left {
  width: 60%;
  height: 100%;
  x: 0;
  y: 0;
}

#top-right {
  width: 40%;
  height: 100%;
  x: 60%;
  y: 0;
}

#graph {
  width: 100%;
  height: 60%;
  x: 0;
  y: 34%;
}

#time-axis {
  width: 100%;
  height: 6%;
  x: 0;
  y: 94%;
}

/* Sub-elements */
#time {
  font-size: 32;
  text-length: 5;
  text-anchor: end;
  fill: #ffffff;
  x: 100%-10;
  y: 50%+5;
}

#bg {
  font-size: 60;
  text-length: 4;
  text-anchor: end;
  fill: #ffffff;
  x: 50%-5;
  y: 50%+15;
}

#dbg {
  font-size: 20;
  text-length: 6;
  text-anchor: start;
  fill: #ffffff;
  x: 50%+5;
  y: 50%+4;
}

.bg {
  display: none;
  r: 2;
}

.target {
  display: none;
  x1: 0;
  y1: 0;
  x2: 100%;
  y2: 0;
  opacity: 1;
  stroke-width: 2;
}

#target-high {
  fill: #ff9d2f;
}

#target-low {
  fill: #e50000;
}

.time-tick {
  display: none;
  fill: #ffffff;
  opacity: 1;
  stroke-width: 2;
  x1: 0;
  y1: 0;
  x2: 0;
  y2: 100%;
}

.time-tick-label {
  display: none;
  font-size: 12;
  text-length: 5;
  text-anchor: end;
  fill: #ffffff;
  x: 0;
  y: 50%+3;
}