* {
  font-family: System-Bold;
}

.background {
  viewport-fill: #000000;
}

#time {
  font-size: 32;
  text-length: 32;
  text-anchor: middle;
  fill: #ffffff;
  x: 100%-48;
  y: 32;
}

#bg {
  font-size: 52;
  text-length: 52;
  text-anchor: middle;
  fill: #ffffff;
  x: 10%;
  y: 20%;
}